@font-face {
  font-family: 'Stolzl Book';
  src: url("../fonts/Stolzl/Stolzl-Regular.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Book';
  src: url("../fonts/Stolzl/Stolzl-Medium.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Book';
  src: url("../fonts/Stolzl/Stolzl-Bold.woff2") format("woff2"), url("../fonts/Stolzl/Stolzl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alice";
  src: url("../fonts/Alice/Alice-Regular.woff2") format("woff2"), url("../fonts/Alice/Alice-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  font-family: 'Stolzl Book';
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #71a84d;
  color: #fff;
}

::selection {
  background: #71a84d;
  color: #fff;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.03;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #71a84d;
  outline: 1px solid #fff;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 51px;
  line-height: 78px;
  color: #333;
}

h1 div {
  font-family: "Alice";
  font-weight: 400;
  font-size: 51px;
  line-height: 78px;
  color: #333;
}

h2 {
  font-weight: 400;
  font-size: 35px;
}

h3 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 29px;
  color: #333;
  margin-bottom: 20px;
}

input {
  border: none;
  outline: none;
  background: none;
}

textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.owl-prev {
  margin-right: 25px;
}

.gallery-left-btn,
.gallery-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #8C979D;
}

.arrow_left {
  margin-right: 10px;
}

.arrow_right {
  margin-left: 10px;
}

.color-primary {
  color: #368707 !important;
}

#cursor {
  display: none;
  position: fixed;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border: 3px solid #71a84d;
  border-radius: 50%;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background-position: center;
  background-size: 0 0;
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 4px #71a84d);
  filter: drop-shadow(0px 0px 4px #71a84d);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.burger {
  cursor: pointer;
  position: relative;
  z-index: 887;
}

.burger span {
  display: block;
  height: 3px;
  border-radius: 42px;
}

.burger span:not(:last-child) {
  margin-bottom: 5px;
}

.pages-header__burger span {
  width: 25px;
  background: #368707;
  margin-bottom: 5px;
}

.subscribe {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 91;
  background: #fff;
  padding: 20px 13px;
  border-radius: 10px 0px 0px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.subscribe__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.subscribe__ico svg path {
  fill: #368707;
}

.subscribe__ico:hover {
  background: #368707;
}

.subscribe__ico:hover svg path {
  fill: #fff;
}

.btn {
  font-weight: 500;
  color: #368707;
  padding: 8px 43px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  border: 2px solid #fff;
  font-size: 22px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn:hover {
  color: #fff;
  background: #368707;
}

.menu {
  margin-top: -100%;
  opacity: 0;
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
}

.menu__wrapper {
  position: relative;
  height: 100vh;
}

.menu__contact {
  position: relative;
  z-index: 2;
}

.menu__contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
}

.menu__contact-item:not(:last-child) {
  margin-right: 100px;
}

.menu__contact-title {
  font-family: "Alice";
  font-weight: 400;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.menu__contact-link {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 150%;
}

.menu__subscribe {
  position: absolute;
  bottom: 15%;
}

.menu__subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
}

.menu__subscribe-icos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__subscribe-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__subscribe-ico svg path {
  fill: #333;
}

.menu__subscribe-ico:hover {
  background: #368707;
}

.menu__subscribe-ico:hover svg path {
  fill: #fff;
}

.menu__subscribe-ico:not(:last-child) {
  margin-right: 8px;
}

.navs {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: -webkit-gradient(linear, right top, left top, from(#71A84D), to(#348300));
  background: -o-linear-gradient(right, #71A84D 0%, #348300 100%);
  background: linear-gradient(270deg, #71A84D 0%, #348300 100%);
  padding: 0 50px;
  padding-top: 120px;
}

.navs-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navs__close-ico {
  position: absolute;
  top: 5%;
  right: 20%;
  cursor: pointer;
}

.nav:not(:last-child) {
  margin-bottom: 150px;
}

.nav ul li:not(:last-child) {
  margin-bottom: 25px;
}

.nav ul li a {
  position: relative;
  font-family: "Alice";
  font-weight: 400;
  font-size: 29px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #fff;
  margin-top: 3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav ul li a:hover::after {
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: 90;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__burger {
  width: 53px;
  height: 53px;
  background: #368707;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__burger span {
  width: 25px;
  background: #fff;
}

.pages-header {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.pages-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pages-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pages-header__btns {
  margin-right: 20px;
}

.pages-header__btn {
  padding: 8px 25px;
  border: 1px solid #368707;
  border-radius: 41px;
  font-size: 20px;
}

.pages-header__btn_price {
  color: #368707;
  margin-right: 20px;
}

.pages-header__btn_reserv {
  color: #fff;
  background: #368707;
}

.section {
  margin-bottom: 150px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.inner-word {
  position: relative;
  font-family: "Alice";
  font-weight: 400;
  font-size: 51px;
  line-height: 78px;
  color: #333;
}

.inner-word::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #71a84d;
  width: 100%;
  height: 3px;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.hero__smoke {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.63)), to(rgba(255, 255, 255, 0.63)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.63));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.63));
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hero__pic {
  position: relative;
  width: 80%;
  height: 80%;
  background-size: cover !important;
  background-position: center !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.hero__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 214px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  font-weight: 500;
  color: #368707;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hero__btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  background: rgba(54, 135, 7, 0.9);
  color: #fff;
}

.weekend__title {
  margin-bottom: 140px;
}

.weekend__title span {
  display: block;
}

.weekend__descs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weekend__desc {
  width: 45%;
  line-height: 46px;
}

.video {
  width: 100%;
  height: 100vh;
}

.cloud {
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}

.cloud_left {
  left: 0;
}

.cloud_right {
  right: 0;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.comfort {
  margin-top: 300px;
}

.comfort__title {
  margin-bottom: 50px;
}

.comfort__inner {
  position: relative;
}

.comfort__slides:not(:last-child) {
  margin-bottom: 50px;
}

.comfort__slide {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px !important;
  height: 200px !important;
  background-size: cover !important;
  border-radius: 10px;
  padding: 0 20px;
  overflow: hidden;
  text-align: left;
  margin: 0 25px;
  cursor: pointer;
}

.comfort__slide:hover .comfort__slide-pic {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.comfort__slide:hover .comfort__slide-txt {
  margin-bottom: 0;
  opacity: 1;
}

.comfort__slide:hover .comfort__slide-hov {
  opacity: 1;
}

.comfort__slide-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.comfort__slide-txt {
  position: relative;
  z-index: 3;
  font-size: 30px;
  color: #fff;
  margin-bottom: -100%;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.comfort__slide-hov {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 131, 0, 0.8)), to(rgba(52, 131, 0, 0.8)));
  background: -o-linear-gradient(bottom, rgba(52, 131, 0, 0.8), rgba(52, 131, 0, 0.8));
  background: linear-gradient(0deg, rgba(52, 131, 0, 0.8), rgba(52, 131, 0, 0.8));
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.infos {
  width: 100%;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__item {
  position: relative;
  width: 45%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px rgba(8, 35, 48, 0.24);
  box-shadow: 0px 0px 20px rgba(8, 35, 48, 0.24);
  overflow: hidden;
}

.info__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(54, 135, 7, 0.75)), to(rgba(54, 135, 7, 0.75)));
  background: -o-linear-gradient(bottom, rgba(54, 135, 7, 0.75), rgba(54, 135, 7, 0.75));
  background: linear-gradient(0deg, rgba(54, 135, 7, 0.75), rgba(54, 135, 7, 0.75));
}

.info__title {
  position: relative;
  z-index: 2;
  color: #fff;
}

.services {
  width: 100%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 768px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  padding: 0 70px;
  margin-bottom: 100px;
}

.service:first-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.service:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 0;
}

.service__info {
  width: 568px;
  background: rgba(52, 131, 0, 0.8);
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 60px;
}

.service__title {
  position: relative;
  font-family: "Alice";
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  display: block;
  margin-bottom: 25px;
}

.service__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 228px;
  height: 3px;
  background: #fff;
  margin-top: 8px;
}

.service__desc {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  display: block;
  margin-bottom: 25px;
}

.contacts {
  width: 100%;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__phone {
  display: block;
  padding: 10px 0;
  color: #333;
  font-weight: 600;
  font-size: 29px;
  border-top: 3px solid #368707;
  border-bottom: 3px solid #368707;
}

.contact__phone:first-child {
  border-right: 3px solid #368707;
  padding-right: 10px;
  padding-left: 5px;
}

.contact__phone:last-child {
  padding-left: 10px;
  padding-right: 5px;
}

.footer {
  width: 100%;
  position: relative;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  width: 25%;
}

.footer__title {
  font-family: "Alice";
  font-weight: 400;
  font-size: 25px;
  color: #348300;
  text-align: center;
  margin-bottom: 20px;
}

.footer__nav ul li {
  margin-bottom: 5px;
  text-align: center;
  line-height: 165%;
}

.footer__pic {
  width: 100%;
}

.footer__pic img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.view-map {
  color: #348300;
  text-decoration: underline;
}

.logo_dev {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.breadcrumb {
  padding: 25px 0;
}

.breadcrumb__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb__items li:last-child a {
  color: #8c979d;
}

.breadcrumb__items li a {
  font-size: 14px;
}

.breadcrumb__divider {
  font-size: 14px;
  padding: 0 15px;
}

.page-contact__title {
  margin-bottom: 40px;
}

.page-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-contact__info {
  width: 40%;
}

.page-contact__info-title {
  font-size: 29px;
  margin-bottom: 10px;
}

.page-contact__info-inner {
  margin-bottom: 35px;
}

.page-contact__loc {
  line-height: 123%;
}

.page-contact__map {
  width: 55%;
  height: 428px;
  border: 2px solid #348300;
  border-radius: 10px;
  overflow: hidden;
}

.page-rules {
  position: relative;
}

.page-rules__title {
  margin-bottom: 35px;
}

.page-rules__pic {
  position: absolute;
  top: 10%;
  right: 0;
}

.page-rules__list-item {
  margin-bottom: 25px;
}

.page-rules__list-item:last-child {
  margin-bottom: 0;
}

.page__inner-title {
  max-width: 30%;
  position: relative;
  padding: 10px 0;
  padding-right: 25px;
  display: inline-block;
  background: #348201;
  color: #fff;
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 36px;
}

.page__inner-title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 99999px;
  background: #348201;
}

.page-pricing__title {
  margin-bottom: 30px;
}

.page-pricing__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 115px;
}

.page-pricing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 186px;
  background: #f3f3f3;
  border: 1px solid #348300;
  border-radius: 20px;
}

.page-pricing__info-item {
  width: 50%;
}

.page-pricing__info-item:first-child {
  border-right: 1px solid #348300;
}

.page-pricing__info-title {
  font-weight: 500;
  display: block;
  padding: 13px 0;
  text-align: center;
  border-bottom: 1px solid #348300;
}

.page-pricing__info-inner {
  padding: 12px 0;
}

.page-pricing__info-txt {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.page-pricing__info-price {
  display: block;
  font-size: 14px;
  text-align: center;
}

.page-pricing__info-price:not(:last-child) {
  padding-bottom: 26px;
}

.add-pay {
  width: 100%;
  border-top: 3px solid #348300;
  border-bottom: 3px solid #348300;
  padding: 35px 0;
  background-size: cover !important;
  background-position: center !important;
}

.add-pay__title {
  font-weight: 500;
  font-size: 25px;
}

.add-pay__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.add-pay__card {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.add-pay__card-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 92px;
  height: 92px;
  background: #348300;
  -webkit-box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.65);
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.65);
  border-radius: 50%;
}

.add-pay__card-inner {
  margin-left: 10px;
}

.add-pay__card-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.add-pay__card-desc {
  display: block;
  font-size: 14px;
  line-height: 120%;
}

.page-gallery__title {
  margin-bottom: 35px;
}

.gallery__pic {
  height: 640px;
}

.page-field__title {
  margin-bottom: 35px;
}

.page-field__desc {
  width: 750px;
  font-family: "Alice";
  font-size: 34px;
  margin-bottom: 35px;
  line-height: 152%;
}

.page-field__desc-bot {
  font-size: 16px;
  line-height: 190%;
  margin-bottom: 35px;
}

.page-field__subdescs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.page-field__subdesc {
  width: 45%;
  font-size: 16px;
  line-height: 190%;
}

.page-field__gallery {
  margin-bottom: 35px;
}

.page-field__roomy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-field__roomy-item {
  width: 45%;
}
