@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alice";
  src: url("../fonts/Alice/Alice-Regular.woff2") format("woff2"), url("../fonts/Alice/Alice-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #fee34c;
  color: #fff;
}

::selection {
  background: #fee34c;
  color: #fff;
}

html,
body {
  position: relative;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #333;
  overflow-x: hidden;
  height: 10000px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #fee34c;
  outline: 1px solid #fff;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 51px;
  line-height: 78px;
  background: -webkit-gradient(linear, right top, left top, color-stop(26%, #1e82bd), to(#10527b));
  background: -o-linear-gradient(right, #1e82bd 26%, #10527b 100%);
  background: linear-gradient(270deg, #1e82bd 26%, #10527b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 40px;
}

input {
  border: none;
  outline: none;
  background: none;
}

textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#cursor {
  display: none;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 45px;
  height: 45px;
  border: 3px solid #1e82bd;
  border-radius: 50%;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 4px #1e82bd);
  filter: drop-shadow(0px 0px 4px #1e82bd);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.burger {
  width: 25px;
  cursor: pointer;
  position: relative;
  z-index: 887;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 42px;
}

.burger span:not(:last-child) {
  margin-bottom: 5px;
}

.subscribe {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 91;
  background: #fff;
  padding: 20px 13px;
  border-radius: 10px 0px 0px 10px;
}

.subscribe__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.subscribe__ico:hover {
  background: #fee34c;
}

.hero__btn {
  font-family: 'Roboto';
  font-weight: 500;
  color: #1e82bd;
  padding: 8px 43px;
  background: #fee34c;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  border: 2px solid #fee34c;
  font-size: 22px;
}

.menu {
  margin-top: -100%;
  opacity: 0;
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
}

.menu__wrapper {
  position: relative;
  height: 100vh;
}

.menu__grad {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 130, 189, 0.6)), to(rgba(30, 130, 189, 0.6)));
  background: -o-linear-gradient(bottom, rgba(30, 130, 189, 0.6), rgba(30, 130, 189, 0.6));
  background: linear-gradient(0deg, rgba(30, 130, 189, 0.6), rgba(30, 130, 189, 0.6));
}

.menu__contact {
  position: relative;
  z-index: 2;
}

.menu__contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
}

.menu__contact-item:not(:last-child) {
  margin-right: 100px;
}

.menu__contact-title {
  font-family: "Alice";
  font-weight: 400;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.menu__contact-link {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
}

.menu__subscribe {
  position: absolute;
  bottom: 15%;
}

.menu__subscribe-title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
}

.menu__subscribe-icos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__subscribe-ico:not(:last-child) {
  margin-right: 25px;
}

.navs {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: -webkit-gradient(linear, left top, right top, from(#1e82bd), to(#10527b));
  background: -o-linear-gradient(left, #1e82bd 0%, #10527b 100%);
  background: linear-gradient(90deg, #1e82bd 0%, #10527b 100%);
  padding: 0 50px;
  padding-top: 120px;
}

.navs__close-ico {
  position: absolute;
  top: 5%;
  right: 20%;
  cursor: pointer;
}

.nav:not(:last-child) {
  margin-bottom: 150px;
}

.nav ul li:not(:last-child) {
  margin-bottom: 25px;
}

.nav ul li a {
  font-family: "Alice";
  font-weight: 400;
  font-size: 29px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav ul li a:hover {
  color: #fee34c;
}

.slick-slide {
  border: 0;
  outline: none;
  margin-right: 15px;
  margin-left: 15px;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 90;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__burger span {
  background: #fff;
}

.section {
  margin-bottom: 150px;
}

.primary {
  color: #1e82bd;
}

.secondary {
  color: #fee34c;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.weekend__title {
  max-width: 870px;
  width: 100%;
  margin-bottom: 140px;
}

.weekend__descs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weekend__desc {
  width: 45%;
  line-height: 46px;
}

.cloud {
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}

.cloud_left {
  left: 0;
}

.cloud_right {
  right: 0;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.comfort__title {
  margin-bottom: 50px;
}

.comfort__inner {
  position: relative;
}

.comfort__slides:not(:last-child) {
  margin-bottom: 50px;
}

.comfort__slide {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px !important;
  height: 200px;
  background-size: cover !important;
  border-radius: 10px;
  padding: 0 20px;
  overflow: hidden;
  text-align: left;
  margin: 0 25px;
  cursor: pointer;
}

.comfort__slide:hover .comfort__slide-pic {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.comfort__slide:hover .comfort__slide-txt {
  margin-bottom: 0;
  opacity: 1;
}

.comfort__slide:hover .comfort__slide-hov {
  opacity: 1;
}

.comfort__slide-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.comfort__slide-txt {
  position: relative;
  z-index: 3;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: -100%;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.comfort__slide-hov {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: -o-linear-gradient(343deg, rgba(16, 82, 123, 0.8) 0%, rgba(30, 130, 189, 0.8) 99%);
  background: linear-gradient(107deg, rgba(16, 82, 123, 0.8) 0%, rgba(30, 130, 189, 0.8) 99%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__item {
  position: relative;
  width: 45%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center !important;
  background-size: cover !important;
  -webkit-box-shadow: 0px 0px 20px rgba(8, 35, 48, 0.24);
  box-shadow: 0px 0px 20px rgba(8, 35, 48, 0.24);
  border-radius: 10px;
  overflow: hidden;
}

.info_price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 227, 76, 0.9)), to(rgba(254, 227, 76, 0.9)));
  background: -o-linear-gradient(bottom, rgba(254, 227, 76, 0.9), rgba(254, 227, 76, 0.9));
  background: linear-gradient(0deg, rgba(254, 227, 76, 0.9), rgba(254, 227, 76, 0.9));
}

.info_reserv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 130, 189, 0.9)), to(rgba(30, 130, 189, 0.9)));
  background: -o-linear-gradient(bottom, rgba(30, 130, 189, 0.9), rgba(30, 130, 189, 0.9));
  background: linear-gradient(0deg, rgba(30, 130, 189, 0.9), rgba(30, 130, 189, 0.9));
}

.info__title {
  position: relative;
}
