*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

::selection {
    background: $secondary;
    color: $white;
}

html,
body {
    position: relative;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    color: $text;
    overflow-x: hidden;
    height: 10000px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: $secondary;
    outline: 1px solid #fff;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Alice";
    font-weight: 400;
    font-size: 51px;
    line-height: 78px;
    background: linear-gradient(270deg, #1e82bd 26%, #10527b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: "Alice";
    font-weight: 400;
    font-size: 40px;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}