*,
*::after,
*::before {
    font-family: 'Stolzl Book';
    font-weight: 400;
    font-size: 20px;
    color: $text;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

::selection {
    background: #71a84d;
    color: $white;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.03;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #71a84d;
    outline: 1px solid #fff;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Alice";
    font-weight: 400;
    font-size: 51px;
    line-height: 78px;
    color: $text;
}

h1 div {
    font-family: "Alice";
    font-weight: 400;
    font-size: 51px;
    line-height: 78px;
    color: $text;
}

h2 {
    font-weight: 400;
    font-size: 35px;
}

h3 {
    font-family: "Alice";
    font-weight: 400;
    font-size: 25px;
    color: $text;
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}