.burger {
    cursor: pointer;
    position: relative;
    z-index: 887;
    & span {
        display: block;
        height: 3px;
        border-radius: 42px;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}