.footer {
    width: 100%;
    position: relative;
    &__wrapper {
        display: flex;
    }
    &__item {
        width: 25%;
    }
    &__title {
        font-family: "Alice";
        font-weight: 400;
        font-size: 25px;
        color: #348300;
        text-align: center;
        margin-bottom: 20px;
    }
    &__nav {
        & ul {
            & li {
                margin-bottom: 5px;
                text-align: center;
                line-height: 165%;
            }
        }
    }
    &__pic {
        width: 100%;
        & img {
            display: block;
            object-fit: cover;
        }
    }
}

.view-map {
    color: #348300;
    text-decoration: underline;
}

.logo_dev {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}