.header {
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 90;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger {
        width: 53px;
        height: 53px;
        background: $primary;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & span {
            width: 25px;
            background: $white;
        }
    }
}

.header-mobi__nav {
    width: 100%;
    text-align: center;
    & ul {
        padding: 15px;
        & li {
            margin-bottom: 10px;
            & a {
                font-weight: 500;
                transition: .3s;
                &:hover {
                    color: #368707;
                }
            }
        }
    }
}

.pages-header {
    position: relative;
    z-index: 99;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__btns {
        margin-right: 20px;
    }
    &__btn {
        padding: 8px 25px;
        border: 1px solid $primary;
        border-radius: 41px;
        font-size: 20px;
        &_price {
            color: $primary;
            margin-right: 20px;
        }
        &_reserv {
            color: $white;
            background: $primary;
        }
    }
}