.header {
    width: 100%;
    position: absolute;
    z-index: 90;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger span {
        background: $white;
    }
}