@font-face {
    font-family: 'Stolzl Book';
    src: url('../fonts/Stolzl/Stolzl-Regular.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('../fonts/Stolzl/Stolzl-Medium.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('../fonts/Stolzl/Stolzl-Bold.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alice";
    src: url("../fonts/Alice/Alice-Regular.woff2") format("woff2"), url("../fonts/Alice/Alice-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}